[submodule "themes/ritzy"]
	path = themes/ritzy
	url = https://github.com/ddritzenhoff/ritzy.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
